<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Anuel AA | Legado</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">ANUEL AA // RHLM</div>
        <div class="nav-links">
            <a href="../index.html">HISTORIA</a>
            <a href="musica.html">DISCOGRAFÍA</a>
            <a href="legado.html">LEGADO</a>
        </div>
    </nav>

    <header class="hero">
        <h1>EL IMPACTO CULTURAL</h1>
        <p>REAL HASTA LA MUERTE</p>
    </header>

    <main class="container">
        <h1 style="color: var(--rojo); text-align: center; font-size: 3rem; margin-bottom: 30px; text-transform: uppercase;">El Legado del Dios del Trap</h1>
        
        <div class="legado-grid">
            <div class="legado-item">
                <div class="photo-legado"><img src="../static/imagenes/dinero.jpg" alt="Lujo"></div>
                <h3>ESTILO DE VIDA Y LUJO</h3>
                <p>Anuel AA elevó el estándar del estilo de vida en el género urbano...</p>
            </div>

            <div class="legado-item">
                <div class="photo-legado"><img src="../static/imagenes/joyas.jpg" alt="Joyas"></div>
                <h3>LAS JOYAS MÁS CARAS</h3>
                <p>Las cadenas de Anuel son piezas de arte icónicas...</p>
            </div>

            <div class="legado-item">
                <div class="photo-legado"><img src="../static/imagenes/concierto.jpg" alt="Conciertos"></div>
                <h3>CONCIERTOS Y SHOWS</h3>
                <p>Sus presentaciones en vivo son experiencias masivas...</p>
            </div>
        </div>
    </main>
</body>
</html>