<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Anuel AA | Discografía</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">ANUEL AA // RHLM</div>
        <div class="nav-links">
            <a href="../index.html">HISTORIA</a>
            <a href="musica.html">DISCOGRAFÍA</a>
            <a href="legado.html">LEGADO</a>
        </div>
    </nav>

    <header class="hero">
        <h1>ÁLBUMES OFICIALES</h1>
        <p>LA TRAYECTORIA DEL DIOS DEL TRAP</p>
    </header>

    <main class="container">
        <div class="album-grid">
            <div class="album-card">
                <h3>Real Hasta La Muerte</h3>
                <div class="photo-album"><img src="../static/imagenes/rhlm.jpg" alt="RHLM"></div>
                <p>Lanzado el 17 de julio de 2018.</p>
            </div>
            <div class="album-card">
                <h3>Emmanuel</h3>
                <div class="photo-album"><img src="../static/imagenes/descarga (1).jpg" alt="Emmanuel"></div>
                <p>Lanzado en 2020.</p>
            </div>
            <div class="album-card" style="border: 2px solid var(--azul);">
                <h3>Los Dioses</h3>
                <div class="photo-album"><img src="../static/imagenes/Los Dioses.jpg" alt="Los Dioses"></div>
                <p>Colaboración con OZUNA.</p>
            </div>
            <div class="album-card">
                <h3>Las Leyendas Nunca Mueren</h3>
                <div class="photo-album"><img src="../static/imagenes/Artista.jpg" alt="LLNM"></div>
                <p>Proyecto inspirado en deportistas.</p>
            </div>
            <div class="album-card">
                <h3>Las Leyendas Nunca Mueren 2</h3>
                <div class="photo-album"><img src="../static/imagenes/Las leyendas nunca mueren 2.jpg" alt="LLNM2"></div>
                <p>La continuación oficial.</p>
            </div>
        </div>
    </main>
</body>
</html>